form{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 1px solid bisque;
    padding: 20px;
    background: linear-gradient(90deg,red,black);
    color: white;
    border-radius: 10px;
    height: 500px;
    font-size: 20px;
}
input[type="submit"]:hover,input[type="reset"]:hover{
    padding: 5px;
    background-color: black;
    color: white;
}